<% provide(:title, 'Home') %>
<h1>SamuTamminenTwitterAPI_test</h1>
<p>
  Tulen myös n. klo 19 Pariisiin, mutta lahemmas hotellia ja junasta paasee nopeammin liikkeelle kuin lentokentalta. Kayko, etta menen edelta hotellille ja tulen vastaan Gambetan(hotellia lahimpana) metroasemalle?

  Sivustolta http://www.aeroportsdeparis.fr/ADP/en-GB/Passagers/Access-maps-car-parks/Paris-Orly/Access/public-transport/ loytyy kaikki vaihtoehdot valille Orly – Gambetta(M). Junista ja metrosta vastaavan lafkan http://www.ratp.fr reittioppaan mukaan seuraava reitti olisi nopein ja halvin.
  -Kesto 1 h – 1,5 h (mulla meni viimeksi 2 h kun valitsin hitaan ratikan ja hitaan metron)
  -Hinta 7 e OrlyBus:siin + 2 e metrolippuun = 9 e

  Orly (Lentokentta) → 	OrlyBus(lahtennee lentokentan edesta parkkikselta. Lentokentalla on 				varmaan kyltti tai joku osaa neuvoa englanniksi) suuntana Denfert-				Rochereau-Metro, joka paatepysakki. Kestaa n. 30 min(pe iltana voi 				olla ruuhkaa.)

  Denfert-Rochereau-Metro → Metro 4 suuntaan Porte de Clignancourt. Ulos metrosta pysakilla 					Reaumur-Sebastopol. Yhteensa 13 pysakkia; pitaa seurata pysakkeja :)

  Reaumur-Sebastopol → 	Metro 3 suuntaan Gallieni (Parc de Bagnolet). Yhteensa 9 pysakkia. 				Ulos metrosta pysakilla Gambetta. Odotan 								maanpinnalla metron luona.

  Seuraavasta osoitteesta loytyy hyva metrokartta. http://www.plandeparis.info/metro-paris/metro-paris.html . Mutsini antoi ehka sulle sen Pariisi-kirjan, jossa on myos hyva kartta. Orlyn lentokentta on kartoissa pohjoispuolella(alhaalla) ja hotelli oikeassa laidassa Seine-joen ylapuolella Gambetta metroaseman lahella. Soita tai tekstaa jooko, kun olet ulos lentokoneesta :) Vi ses!</p>
</body>
</html>